window {
	background-color: --rootbar-color0;
	color: #C9C9CB;
	font-family: "Iosevka Extended Medium";
}

label {
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: 3px solid rgba(0,0,0,0);
}

#left {
	margin-left: 25px;
}

#right {
	margin-right: 25px;
}

.ws {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

#ws-focused {
	background-color: #444444;
	border-bottom: 3px solid --rootbar-color2;
}

#cput {
	color: #7E7F80;
	margin-right: 0;
	padding-right: 5px;
}

#memt {
	color: #7E7F80;
	margin-right: 0;
	padding-right: 5px;
}
